.App {
   height: 100vh; 
   background-image: url(./images/daytona_frontstretch.jpg); 
   background-size: cover;
}

#title {
    text-align: center;
    font-size: 40pt;
    font-family: 'Faster One', cursive;
    padding-top: 5vh;
}

#firebaseui_container {
    margin-top: 10vh;
}