.App {
  height: 100vh;
  width: 100vw;
  background-image: url(./images/daytona_frontstretch.jpg);
  background-size: cover;
  display: inline-block;
  overflow: scroll;
  background-position: fixed;
}

#title {
  text-align: center;
  font-size: 40pt;
  font-family: "Faster One", cursive;
  padding: 4vh;
}

#userTitle {
  text-align: center;
  font-size: 40pt;
  font-family: "Faster One", cursive;
}

#firebaseui_container {
  margin-top: 10vh;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Schedule {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: rgba(0, 0, 0, 0.88);
  color: aliceblue;
  height: 86vh;
  overflow: scroll;
}
